#title {
    text-align: center;
}

#mental-state-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    border: 3px solid #fff;
}

.mental-state-card{
    flex: 1;
    text-align: center;
    border: 2px solid red;
    margin: 20px;
    height: 75vh;
    border-radius: 5%;
    cursor: pointer;
}

.player-container{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 50vh;
    border: 3px solid #fff;
}

.forward-backward {
    flex: 1;
    height: 20px;
    display: flex;
    background: none;
    border: none;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}

.forward-backward:hover {
    color: white;
}

.back-thirty {
    display: flex;
    justify-content: right;
}

/* play/pause button */
.play-pause {
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    height: 75px;
    width: 75px;
    font-size: 32px;
}

.current-time,
.duration {

}